@import "../../global_styles/variables.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    font-size: 2rem;
    font-family: "Oxygen", sans-serif;
    font-weight: 500;

}

.navbar-links {
    display: flex;
    align-items: center;

    .navbar-link {
        margin: 0 25px;
    }

    .navbar-link-border {
        margin: 5px 15px;
    }

    .navbar-link-active {
        padding-bottom: 10px;
        border-bottom: 2px solid $textColor;
    }

    a {
        text-decoration: none;
        color: $textColor;
    }
}